params{
    modules {
        'guppy_basecaller' {
            args = "--compress_fastq --records_per_fastq 0"
            publish_dir      = "guppy"
            publish_results  = "all"
            flowcell         = "FLO-MIN106"
            kit              = "SQK-RAD002"
            num_callers      = 1
            cpu_threads_per_caller = 1
            chunk_size       = 2000
            chunks_per_caller = 10000
            chunks_per_runner = 512
            gpu_runners_per_device = 4
        }
    }
}
