/*
 * -------------------------------------------------------------------------------
 * OIST-assembler Nextflow config file
 * -------------------------------------------------------------------------------
 * Default config options for all environments.
 */

includeConfig "./modules/luslab-nf-modules/configs/luslab-base.config"

// Global default parameters
params {

    // Fitlong
    with_filtlong                      = false
    filtlong_target                    = 4000000000

    // Reference genome
    with_reference                     = false

}



manifest {
    name = 'oist-assembler'
    author = 'Michael Mansfield'
    homePage = 'https://github.com/luslab/oist-assembler'
    description = 'Genome assembly pipeline of the Luscombe unit at OIST.'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.07.0'
    version = '0.0.0'
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
