/*
 * -------------------------------------------------------------------------------
 * OIST-assembler Nextflow config file
 * -------------------------------------------------------------------------------
 * Default config options for all environments.
 */

includeConfig "./modules/luslab-nf-modules/configs/luslab-base.config"

// Global default parameters
params {

    // Fitlong
    with_filtlong                      = false
    filtlong_target                    = 4000000000

    // Reference genome
    with_reference                     = false

}

manifest {
    name = 'oist-assembler'
    author = 'Michael Mansfield'
    recurseSubmodules = true
    homePage = 'https://github.com/luslab/oist-assembler'
    description = 'Genome assembly pipeline of the Luscombe unit at OIST.'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.07.0'
    version = '0.0.0'
}
