includeConfig "luslab-modules/configs/luslab-base.config"

manifest {
    author = 'Michael Mansfield'
    recurseSubmodules = true
    description = 'Genome assembly pipeline of the Luscombe unit at OIST.'
    name = 'oist-assembler'
    homePage = 'https://github.com/luslab/oist-assembler'
    nextflowVersion = '>=20.07.0'
    version = '0.0.0'
}
