/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'subset_fasta_by_BLAST_results' {
            args             = ""
            filter           = ""
            filtered_table   = False
            publish_dir      = "gene_of_interest"
            publish_results  = "all"
        }
    }
}
